= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :template
    = f.text_field :template
  .field
    = f.label :questions_section
    = f.text_field :questions_section
  .field
    = f.label :question
    = f.text_field :question
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :coach_hint
    = f.text_field :coach_hint
  .field
    = f.label :default_response
    = f.text_field :default_response
  .field
    = f.label :spawn_nested_response
    = f.text_field :spawn_nested_response
  .field
    = f.label :weight
    = f.number_field :weight
  .field
    = f.label :rank
    = f.number_field :rank
  .actions
    = f.submit 'Save'
