%h1 Listing questions

%table
  %tr
    %th Template
    %th Questions section
    %th Question
    %th Type
    %th Text
    %th Coach hint
    %th Default response
    %th Spawn nested response
    %th Weight
    %th Rank
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.template
      %td= question.questions_section
      %td= question.question
      %td= question.type
      %td= question.text
      %td= question.coach_hint
      %td= question.default_response
      %td= question.spawn_nested_response
      %td= question.weight
      %td= question.rank
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_question_path
