%p#notice= notice

%p
  %b Template:
  = @question.template
%p
  %b Questions section:
  = @question.questions_section
%p
  %b Question:
  = @question.question
%p
  %b Type:
  = @question.type
%p
  %b Text:
  = @question.text
%p
  %b Coach hint:
  = @question.coach_hint
%p
  %b Default response:
  = @question.default_response
%p
  %b Spawn nested response:
  = @question.spawn_nested_response
%p
  %b Weight:
  = @question.weight
%p
  %b Rank:
  = @question.rank

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
