%h1 Listing question_possible_answers

%table
  %tr
    %th Question
    %th Answer
    %th Weight
    %th
    %th
    %th

  - @question_possible_answers.each do |question_possible_answer|
    %tr
      %td= question_possible_answer.question
      %td= question_possible_answer.answer
      %td= question_possible_answer.weight
      %td= link_to 'Show', question_possible_answer
      %td= link_to 'Edit', edit_question_possible_answer_path(question_possible_answer)
      %td= link_to 'Destroy', question_possible_answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question possible answer', new_question_possible_answer_path
