%p#notice= notice

%p
  %b Question:
  = @question_possible_answer.question
%p
  %b Answer:
  = @question_possible_answer.answer
%p
  %b Weight:
  = @question_possible_answer.weight

= link_to 'Edit', edit_question_possible_answer_path(@question_possible_answer)
\|
= link_to 'Back', question_possible_answers_path
