.span10.no-space
	= render 'calls/listing'

.span7.no-space
	.widget.stacked
		.widget-header
			.icon-save
			.icon-file
			.icon-bar-chart
			.icon-edit
		.widget-content
			.box
				%h3 Cost to Serve
			.box
				%h3 Customer Relation
			.box
				%h3 Revenue Growth
			.box
				%h3 Compliance and Risk

			.box
				%h3 Average Handle Time

			.pull-right.chart
				%canvas.js-chart{:height => "300", :width => "450"}

			.box
				%h3 Transfer %

			.box
				%h3 Dispatch Rate
			.clearfix

.span3.no-space.pull-right
	.widget.stacked
		.widget-header
			%h3 Common Topics
		.widget-content
			%canvas.js-common-topics-chart{:height => "250", :width => "250"}

.span3.no-space.pull-right
	.widget.stacked
		.widget-header
			%h3 Call Types Today
		.widget-content
			%canvas.js-call-types-chart{:height => "250", :width => "250"}