.well.centered
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .control-group
      .controls
        = f.email_field :email, autofocus: true, placeholder: 'Email'
    .control-group
      .controls
        = f.password_field :password, placeholder: 'Password'
    .control-group
      .controls
        = f.password_field :password_confirmation, placeholder: 'Password confirmation'
    .control-group
      .controls
        = f.submit 'Sign up', class: 'btn btn-primary'
  = render 'devise/shared/links'