= form_for @template do |f|
  - if @template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@template.errors.count, "error")} prohibited this template from being saved:"
      %ul
        - @template.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :min_score_alert
    = f.number_field :min_score_alert
  .field
    = f.label :total_weight
    = f.number_field :total_weight
  .actions
    = f.submit 'Save'
