%h1 Listing templates

%table
  %tr
    %th User
    %th Title
    %th Min score alert
    %th Total weight
    %th
    %th
    %th

  - @templates.each do |template|
    %tr
      %td= template.user
      %td= template.title
      %td= template.min_score_alert
      %td= template.total_weight
      %td= link_to 'Show', template
      %td= link_to 'Edit', edit_template_path(template)
      %td= link_to 'Destroy', template, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Template', new_template_path
