%p#notice= notice

%p
  %b User:
  = @template.user
%p
  %b Title:
  = @template.title
%p
  %b Min score alert:
  = @template.min_score_alert
%p
  %b Total weight:
  = @template.total_weight

= link_to 'Edit', edit_template_path(@template)
\|
= link_to 'Back', templates_path
