%h1 Listing saved_search_tabs

%table
  %tr
    %th User
    %th Search params
    %th Name
    %th
    %th
    %th

  - @saved_search_tabs.each do |saved_search_tab|
    %tr
      %td= saved_search_tab.user_id
      %td= saved_search_tab.search_params
      %td= saved_search_tab.name
      %td= link_to 'Show', saved_search_tab
      %td= link_to 'Edit', edit_saved_search_tab_path(saved_search_tab)
      %td= link_to 'Destroy', saved_search_tab, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Saved search tab', new_saved_search_tab_path
