#errors_container.ui-tooltip.alert.alert-error.js-alert-errors.hide-it{style:"max-width: 300px;margin: 10px;"}
  %h4 Errors!
  %p.errors.ui-tooltip{style: 'margin-top:0px;margin-bottom:0px;'}
= form_for @group do |f|
  .control-group.nw-gurp-role-top
    = f.label "Goup Name", class: 'control-label'
    .nw-gurp-role-inpt
      = f.text_field :name, class: 'text_field'
  #js_role_btns.new-role-option-wrapper
    .available-users-group.boxLayout
      .available-users.fl Roles

      #checkboxes.w-100.fl.scroll-list 
        - @roles.each do |role|
          .list-white.fl
            = hidden_field_tag "group_role_ids_none", nil, {:name => "group[role_ids][]"}
            = check_box_tag "group_role_ids_#{role.id}", role.id, (f.object.roles.present? && f.object.roles.include?(role)), {:name => "group[role_ids][]"}
            = label_tag "group_role_ids_#{role.id}", role.name, :class => "group_role_ids"
  / Hidden submit button, to allow submit form on enter key
  .hidden-submit
    %input{:type => "submit", :tabindex => -1}
