= form_for @call, :html => { class: 'form-horizontal js-file-upload', multipart: true }, format: :json do |f|
  .control-group
    = f.label :file, class: 'control-label'
    .controls
      .span5
        = f.file_field :file
        .progress.progress-success.progress-striped.js-file-upload-progress.hidden
          .bar
        .progress.progress-danger.progress-striped.js-file-process-progress.hidden
          .bar
        .pull-right.js-progress-hint