- model_class = Call
.page-header
  .pull-left
    %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

  .pull-right
    = link_to t('.new', :default => t("helpers.links.new")), new_call_path, 
              :class => 'btn btn-primary'
  .clearfix

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:file_file_name)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @calls.each do |call|
      %tr
        %td= link_to call.id, call_path(call)
        %td= call.file_file_name
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_call_path(call), 
                    :class => 'btn btn-mini'       
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")), call_path(call), 
                    :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
                    :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_call_path, 
          :class => 'btn btn-primary'                            