- model_class =  Call
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
  %dd= link_to @call.name, @call.file.url
  %dt
    %strong
      = model_class.human_attribute_name(:decoded_text)
  %dd= @call.decoded_text

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), calls_path, class: 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_call_path(@call), class: 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), call_path(@call), method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'