!!!
%html
  %head
    %title Quality Cloud
    = stylesheet_link_tag "application", :media => "all"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .heading.label
      .videoLabel 
        %span.label Date :
        = @call.audio_recording_time.try(:strftime, "%m/%d/%Y %H:%M:%S")
      .videoLabel 
        %span.label Duration :
        = @call.call_duration
      .videoLabel 
        %span.label Name :
        = @call.user.try :name
      .videoLabel 
        %span.label Group :
        =@call.user.try(:group).try(:name)
    .mp4
      #call_stage.video-container-popup
        - if @call.media_type == 1 || @call.media_type == 3
          %video.resizable-video.js-call-video.js-media-element{:controls => "controls", :height => "307px", :preload => "none", :width => "481.4px", :style => "width:100%; height:85%;"}
            %source{:src => "/calls/#{@call.id}/stream_video", :type => "video/mp4"}/
            %object{:data => "flashmediaelement.swf", :height => "307", :type => "application/x-shockwave-flash", :width => "554"}
              %param{:name => "movie", :value => "flashmediaelement.swf"}/
              %param{:name => "flashvars", :value => "controls=true&file=/calls/#{@call.id}/stream_video"}/
          %br
          .label
            .videoLabel 
              %span.label Call Direction: #{@call.call_direction} 
            .videoLabel 
              %span.label Caller ID: #{@call.caller_id} 
        - if @call.media_type == 2
          %audio.js-call-audio.js-media-element{:controls => "", :height => "307", :preload => "none", :width => "554"}
            %source{:src => "/calls/#{@call.id}/stream_audio", :type => "audio/mpeg"}
          %br  
          %a.btn{:href => "/calls/#{@call.id}/stream_audio"} Download Voice Call
        - if @call.media_type < 1 || @call.media_type > 3
          .well This call has no media files attached.
    = javascript_include_tag "application"
%script
  new QualityCloud.Views.CallPopup({el:"body"});
  
