#errors_container.ui-tooltip.alert.alert-error.js-alert-errors.hide-it
  %h4 Errors!
  %p.errors.ui-tooltip{style: 'margin-top:0px;margin-bottom:0px;'}
= form_for @user, as: :user, html: { class: 'form-horizontal user_form' } do |f|
  .agent-ID
    Agent ID
    = f.text_field :agent_id, class: '', :style => "margin-left:10px; width:130px"
  .popup-left-panel.fl
    .pic-agent{:style => "background-image:none;"}
      %img{:height => '214px', :width => '215px', :src  => @user.avatar.url(:medium)}
    .Mt{:style => "text-align:right; margin-right:10px;"}
      = f.file_field :avatar, :accept => 'image/*'
    .roles#js_role_btns
      .role-heading Roles
      .role-scroll
        .Mt
          %span.select_one (Select Roles)
          %label
            = f.check_box :inherit_role, class: '', for: 'user[inherit_role]'
          %label.grouprole-inherit{:for => "user_inherit_role"} Inherit group role
        %table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tbody
          - @roles.each do |role|
            %tr
              %td
                = hidden_field_tag "user_user_role_ids_none", nil, {:name => "user[user_role_ids][]"}
                = check_box_tag "user_user_role_ids_#{role.id}", role.id, (f.object.roles.present? and f.object.roles.include?(role)), {:name => "user[user_role_ids][]", :disabled => f.object.inherit_role ? "disabled" : false}
                = label_tag "user_user_role_ids_#{role.id}", role.name, :class => "user_user_role_ids"
  .popup-righr-panel.fl
    .Mb14.fl
      .form_name.fl First name
      .field.fl
        %label
          = f.text_field :first_name, style: 'width:161px;'
    .Mb14.fl
      .form_name.fl Last name
      .field.fl
        %label
          = f.text_field :last_name, style: 'width:161px;'
    .Mb14.fl
      .form_name.fl Group
      .field.fl
        %label
          = f.select :group_id, groups_list, style: 'width:161px;'
    .Mb14.fl
      .form_name.fl Supervisor
      .field.fl
        %label
          = f.select :supervisor_id, supervisors_list, :include_blank => 'None', style: 'width:161px;'
    .Mb14.fl
      .form_name.fl Department
      .field.fl
        %label
          = f.text_field :department, class: 'text_field', style: 'width:161px;'
    .Mb14.fl
      .form_name.fl Telephone
      .field.fl
        %label
          = f.text_field :phone, class: 'text_field', style: 'width:161px;'
    .Mb14.fl
      .form_name.fl E-mail
      .field.fl
        %label
          = f.text_field :email, class: 'text_field', style: 'width:161px;'
    .Mb14.fl
      .form_name.fl Network Login
      .field.fl
        %label
          = f.text_field :network_login, class: 'text_field', style: 'width:161px;'
    #js_password_fields
      / .Mb14.Mt26.fl
      .Mb14.fl
        .form_name.fl Password
        .field.fl
          %label
            = f.password_field :password, class: 'text_field', autocomplete: :off, placeholder: '********', style: 'width:161px;'
      .Mb14.fl
        .form_name.fl Confirm Password
        .field.fl
          %label
            = f.password_field :password_confirmation, class: 'text_field', autocomplete: :off, placeholder: '********', style: 'width:161px;'
    .Mb14.fl
      .form_name.fl Account Locked
      .field.fl
        = f.radio_button :locked, 'true', :checked => @user.locked
        = label :user_locked, 'yes', :for => "user_locked_true"
        = f.radio_button :locked, 'false', :checked => !@user.locked, :class => "js-checkbox-false"
        = label :user_locked, 'no', :for => "user_locked_false"
    .Mb14.fl
      .form_name.fl User can change pwd
      .field.fl
        = f.radio_button :change_password, 'true', :checked => @user.change_password
        = label :user_change_password, 'yes', :for => "user_change_password_true"
        = f.radio_button :change_password, 'false', :checked => !@user.change_password, :class => "js-checkbox-false"
        = label :user_change_password, 'no', :for => "user_change_password_false"
    .Mb14.fl
      .form_name.fl Force complex pwd
      .field.fl
        = f.radio_button :complex_password, 'true', :checked => @user.complex_password
        = label :user_complex_password, 'yes', :for => "user_complex_password_true"
        = f.radio_button :complex_password, 'false', :checked => !@user.complex_password, :class => "js-checkbox-false"
        = label :user_complex_password, 'no', :for => "user_complex_password_false"
    - # Alert: SUPER_USER
    - if current_user.is_super?        
      .Mb14.fl
        .form_name.fl Super user
        .field.fl
          = f.radio_button :super_user, 'true', :checked => @user.super_user
          = label :user_super_user, 'yes', :for => "user_super_user_true"
          = f.radio_button :super_user, 'false', :checked => !@user.super_user, :class => "js-checkbox-false"
          = label :user_super_user, 'no', :for => "user_super_user_false"