- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.span6  
  %form.form-search{:action => 'users'}
    %input.input-medium.search-query#filter_users{:name => 'filter_users'}
    %button.btn Filter Users
.span2
  = link_to 'New User', new_user_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= 'Agent ID'
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:primary_role)
      %th= model_class.human_attribute_name(:primary_group)
      %th= model_class.human_attribute_name(:network_login)
      %th= model_class.human_attribute_name(:phone_number)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:supervisor)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, user_path(user)
        %td= user.name
        %td= user.type
        %td= 'Group'
        %td= user.network_login
        %td= user.phone
        %td= user.email
        %td= user.supervisor_name
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

