- if flash[:errors].try(:any?)
  #errors_container.ui-tooltip.alert.alert-error.js-alert-errors{style: "margin-left:25%; margin-top:10px;margin-bottom:10px;"}
    %h4{style: "font-size:16px;"}= "#{pluralize(flash[:errors].count, "error")} prohibited the update!"
    %p.errors.ui-tooltip{style: 'margin-top:0px;margin-bottom:0px;padding-top: 0px;padding-bottom: 2px;'}
      - flash[:errors].each do |msg|
        %p.errors.ui-tooltip{style: "margin-left:15px;padding-bottom: 0px;padding-top: 1px;font-size:14px;"}= msg
= form_for @user, as: :user, html: { class: 'form-horizontal user_form', multipart: true } do |f|
  %table{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;vertical-align:initial;"}
    %tr
      %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;vertical-align:initial;"}
        %span
          %img{:src  => @user.avatar.url(:medium), width: "180px"}
          .control-group
            %input#user_avatar{:name => "user[avatar]",  :type => "file", :accept => 'image/*'}/
      
      %td{ style: "text-align: left;padding-left: 20px;border: none;width:400px;font-size: 15px;"}
        %span
          .control-group
            = f.label :first_name, class: 'control-label'
            .controls
              = f.text_field :first_name, class: 'text_field'

          .control-group
            = f.label :last_name, class: 'control-label'
            .controls
              = f.text_field :last_name, class: 'text_field'

          .control-group
            = f.label :phone, class: 'control-label'
            .controls
              = f.text_field :phone, class: 'text_field'

          .control-group
            = f.label :email, class: 'control-label'
            .controls
              = f.text_field :email, class: 'text_field'
          

      %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}
        %span
          - if @user.change_password
            .control-group
              = f.label :password, class: 'control-label'
              .controls
                = f.password_field :password, class: 'text_field', autocomplete: :off, placeholder: '********'
            
            .control-group
              = f.label :password_confirmation, class: 'control-label'
              .controls
                = f.password_field :password_confirmation, class: 'text_field', autocomplete: :off, placeholder: '********'

            .control-group
              .controls
                = f.submit 'Update', class: 'btn btn-primary'
    
    - if !@user.change_password
      %tr{ style: "background: none"}
        %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}
        %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}
        %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}
          .control-group
            .controls
              = f.submit 'Update', class: 'btn btn-primary'
