#errors_container.ui-tooltip.alert.alert-error.js-alert-errors.hide-it{style: "margin-left:25%; margin-top:10px;margin-bottom:10px;"}
  %p.errors.ui-tooltip{style: 'margin-top:0px;margin-bottom:0px;padding-top: 0px;padding-bottom: 2px;'}
    
= form_for current_user, as: :user, html: { class: 'form-horizontal user_form', multipart: true } do |f|
  %table{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;vertical-align:initial;"}
    %tr
      %td{ style: "text-align: left;padding-right: 30px;border: none;font-size: 15px;vertical-align:initial;"}
        %span
          %img#user_img_profile{:src  => current_user.avatar.url(:medium), width: "260px"}
          .control-group
            %input#user_avatar{:name => "user[avatar]",  :type => "file", :accept => 'image/*'}/
      
      %td{ style: "text-align: left;padding-left: 20px;border: none;width:400px;font-size: 15px;"}
        %span
          .control-group
            = f.label :first_name, class: 'control-label'
            .controls
              = f.text_field :first_name, class: 'text_field'

          .control-group
            = f.label :last_name, class: 'control-label'
            .controls
              = f.text_field :last_name, class: 'text_field'

          .control-group
            = f.label :phone, class: 'control-label'
            .controls
              = f.text_field :phone, class: 'text_field'

          .control-group
            = f.label :department, class: 'control-label'
            .controls
              = f.text_field :department, class: 'text_field'
          
          %span
            - if current_user.change_password
              .control-group
                = f.label :password, class: 'control-label'
                .controls
                  = f.password_field :password, class: 'text_field', autocomplete: :off, placeholder: '********'
              
              .control-group
                = f.label :password_confirmation, class: 'control-label'
                .controls
                  = f.password_field :password_confirmation, class: 'text_field', autocomplete: :off, placeholder: '********'

      / %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}

    / - if !current_user.change_password
    /   %tr{ style: "background: none"}
    /     %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}
    /     %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}
    /     %td{ style: "text-align: left;padding-left: 20px;border: none;font-size: 15px;"}