/ .well.centered
/   %h2 Change your password
/   = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
/     = devise_error_messages!
/     = f.hidden_field :reset_password_token
/     .control-group
/       .controls
/         = f.password_field :password, autofocus: true, placeholder: 'New password'
/     .control-group
/       .controls
/         = f.password_field :password_confirmation, autofocus: true, placeholder: 'Password confirmation'
/     .control-group
/       .controls
/         = f.submit 'hange my password', class: 'btn btn-primary'
/   = render 'devise/shared/links'

.login-div
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: "change_password_form" }) do |f|
    .logo-cloud.fl
      %img{:alt => "logo", :src => "/images/qc-logo.png"}/
    .welcome.fl 
      Enter your new password
      %br
      = content_tag :span, strip_tags(devise_error_messages!).gsub("&#x27;", "'").gsub("\n", "").squeeze(' ').strip, :id => "flash", :style => "font-family:'ubunturegular'; color: #E75E5E; font-size: 16px;}" unless devise_error_messages!.blank?
      %br
    .text-field
      = f.password_field :password, autofocus: true, placeholder: 'New password'
    .text-field
      = f.password_field :password_confirmation, autofocus: true, placeholder: 'Password confirmation'
      %br
    .clr
    .login
      / Hidden submit button, to allow submit form on enter key
      .hidden-submit
        %input{:type => "submit", :tabindex => -1}
      .reset-password-buttons.fl{:style =>"cursor:pointer;", :href => "javascript:;", :onclick => "javascript:history.go(-1);"} Go Back
      .reset-password-buttons.fl{:style =>"cursor:pointer;", :href => "javascript:;", :onclick => "javascript:document.getElementById(\"change_password_form\").submit();"} Reset Password

