.top
  .logo-banner
    %img{:alt => "logo", :src => "assets/qc-logo-banner.png"}/


/ .navbar.navbar
/   .navbar-inner
/     .container
/       .pull-left
/         = image_tag('logo.png')
/       .pull-right
/         = link_to 'Quality Cloud', root_path, class: 'brand'
/ - if user_signed_in?
/   .subnav.subnav-fixed
/     .container
/       %ul.pull-right.nav.nav-pills
/         %li
/           = link_to current_user.email, edit_user_registration_path
/         %li
/           = link_to 'Sign out', destroy_user_session_path, method: :delete