.left-buttons
  
  / -if current_user.has_permissions? [:show_settings_tab]
  .side_button.seting-icon.settings-side_button{ class: "#{'active' if @selected == :settings}" }
    = link_to 'Settings', settings_tab_path 

  / -if current_user.has_permissions? [:show_reporting_tab]
  .side_button.report-icon{ class: "#{'active' if @selected == :reporting}" }
    %a{ href: "javascript:;"} Reporting

  / -if current_user.has_permissions? [:show_admin_tab]
  .side_button.admin-icon{ class: "#{'active' if @selected == :administration}", disabled: true }
    = link_to 'Administration    ', administration_tab_path
