.left-buttons
  -if current_user.has_permissions? [:show_dashboard_tab]
    .side_button.dashbord-icon{ class: "#{'active' if @selected == :dashboard}", disabled: true } Dashboard
    
  -if current_user.has_permissions? [:show_organization_tab]
    .side_button.org-icon{ class: "#{'active' if @selected == :personal}" }
      = link_to 'Organization', personal_tab_path

  / .side_button{ class: "#{'active' if @selected == :dashboard}", disabled: true }
  / = link_to 'Dashboard', root_path
  -if current_user.has_permissions? [:show_search_tab]
    .side_button.srch-icon#search_sidebar{ class: "#{'active' if @selected == :search}" }
      = link_to 'Search', search_tab_path

  / .side_button
  /   = link_to 'Settings', edit_user_registration_path
    
/ .well.sidebar-nav-fixed
/   %ul.nav.nav-list
/     %li{ class: "#{'active' if @selected == :personal}" }
/       = link_to 'Personal', personal_tab_path
/     %li{ class: "#{'active' if @selected == :dashboard}" }
/       = link_to 'Dashboard', root_path
/     %li{ class: "#{'active' if @selected == :search}" }
/       = link_to 'Search', search_tab_path
/     %li{ class: "#{'active' if devise_controller? }" }
/       = link_to 'Settings', edit_user_registration_path