#user_profile_modal.no-padding-popup.modal.hide-it.fade.videoPopup-new{ :style => "left: 50%;width: 612px !important;"}
  .heading_new
    User Profile
    .fr.Mt.Mr{:style => "margin-top: 5px;"}
      %a.js-close-profile{:href => "#"}
        %img{:alt => "", :height => "14", :src => "images/can-btn.png", :width => "12"}
  #user_profile_form.modal-body.js-user-form.user-modal-content
    = render "users/user_profile_form"
  .popup-bottom.fl{:style => "width: 610px !important;"}
    .bottom-button.fr.Mr25#submit_save_form{:style => "width:103px;cursor:pointer;"}
      %a{:href => "javascript:;"} Save
    .bottom-button.fr.Mr10#submit_apply_form{:style => "width:103px;cursor:pointer;"}
      %a{:href => "javascript:;"} Apply
    .bottom-button.fr.Mr10.js-close-profile{:style => "width:105px;cursor:pointer;"}
      %a{:href => "javascript:;"} Cancel

