.welcome-right.fl
  .icon.fl.js-open-profile{:title => "Click to edit your profile"}
    %img#user_img_header{:alt => "icon", :height => "21", :src => current_user.avatar.url(:thumb), :width => "23"}/
  .wecometext.fl#welcome_user_header.js-open-profile{:title => "Click to edit your profile"}="Welcome, #{current_user.full_name}"
  .logout-text.fl
    = link_to 'Logout', destroy_user_session_path, method: :delete