#administration_tab
  .top-navigation
    .nav-new
      #template_tool_tab.sub_menue.nav-new-menu.fl
        - link_to 'QA Template Tool', "#template_tool"
    = render 'shared/user_info'
    
  .content.right-content.fl