#help_container.hide-it.ui-tooltip.ui-tooltip-content
  %div Here you can search for calls and filter the results, you can also create multiple tabs: name, edit and save them to open up next time you come here.
  %hr
  %div * You can switch between tabs by clicking on the tab header.
  %div * You can rename the tab, by clicking its name: edit the name and press 'Enter' to save, or 'Esc' to cancel.
  %div * You can sort columns ascending or descending by clicking on column header.
  %hr
  %div
    %img{:src => "images/add-new.jpg"}> Click to add new search tab.
  %div
    %img{:src => "images/pin.png"}> Means that this tabs is saved.
  %div
    %img{:src => "images/pin-active.png"}> Means that this tab isn't saved yet, click to save it.
  %div
    %img{:src => "images/cancle-btn2.jpg"}> Click to close/delete search tab.
#load_calls_popup.columnSelector.hide-it
  .heading
    Load Calls
    %a.js-load-calls-close{:href => "javascript:;"}
      %img{:alt => "", :height => "14", :src => "images/can-btn.png", :width => "12"}
  #modal_content.column_selector_new
    .role-heading Checked folders to process and load calls inside
    .role-scroll_selector
      .Mt
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody#folders_to_load
          -for folder in @calls_folders
            %tr.js-column-row
              %td
                %label
                  %input{:type => "checkbox", :value => folder}
                  %span=folder
  .Mt
  .footer_column_selector
    %button#submit_load_calls Load
    %button.js-load-calls-close Cancel

#search_tab
  .top-navigation
    .nav-new.newTab#search_tabs
      .nav-new-menu.fl.auto-width-tab-header#new_search_tab{:title => "Create new search tab"}
        %a.addNew{:href => "#new_tab", :style => "margin: 0px 0;"}
          %img{:alt => "New Tab", :src => "images/add-new.jpg"}/
      .nav-new-menu.fl.auto-width-tab-header#help{}
        %a.addNew#help_btn{:style => "margin: 0px 0;"}
          %img.js-help-img{:title => "Show help", :width => '12px', :alt => "Help", :src => "images/help.png", :data => "data-help"}/
          %img.js-help-img.hide-it{:title => "Hide help", :width => '15px', :alt => "Help", :src => "images/black-up-arrow.gif", :data => "data-help"}/
    = render 'shared/user_info'

  .right-content-search.fl
    .height
      #content
        / View Call popup
        #call_modal.videoPopup2.no-padding-popup.modal.hide-it.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .heading
            %h2#myModalLabel Call
            %a.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :href => "javascript:;"}
              %img{:width => "12", :height => "14", :src => "images/can-btn.png"}
          .modal-body.js-user-form.user-modal-content#call_form
          / .modal-footer
          /   .close.select-group.fr.three_buttons{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

- content_for :onload do
  search_tab = new QualityCloud.Views.SearchTab({groupCollection: #{@groups.to_json.html_safe}, userCollection: #{@users.to_json.html_safe}})
  new QualityCloud.Routers.Search({search_tab: search_tab})
  / to serialize search form data
  $.fn.serializeObject = function(){var o = {};var a = this.serializeArray();$.each(a, function() { if (o[this.name] !== undefined) {if (!o[this.name].push) {o[this.name] = [o[this.name]];}o[this.name].push(this.value || '');} else {o[this.name] = this.value || '';}});return o;};
  / to make a tooltip for help instructions
  $(document).ready(function() {$('#help').click(function() {$('#help_container').slideToggle(function() {$("img.js-help-img").toggle()});});});