#settings_tab
  .top-navigation
    .nav-new
      #template_tool_tab.sub_menue.nav-new-menu.fl
        = link_to 'QA Template Tool', "#template_tool"
    = render 'shared/user_info'
    
  .content.right-content.fl
    #qa_tool.hide-it


- content_for :onload do
  settings_tab = new QualityCloud.Views.SettingsTab()
  new QualityCloud.Routers.Settings({settings_tab: settings_tab})