.span4.select-group.fl
  .searchInt{:style => "width:362px;"}
    %input.input-medium.srh.search-query#filter_search{:name => 'filter_search', :type => "text", :style => "width:329px;"}
    %input.sbtn.btn.js-search-btn#filter_calls_btn{:src => "/images/int-btn.png", :type => "image"}/
  .span5.side-nav
    #export_as_csv.three_buttons.fl{:style => "width:140px;"} Export Results to CSV
    #load_calls.three_buttons.fl Load Calls
    #delete_calls_btn.three_buttons.fl Delete Calls
    #download_calls_btn.three_buttons.fl{:title => "Download selected calls as a zip folder"} Save to Disk
    #modify_columns.three_buttons.fl Modify Columns
    #download_record.three_buttons.fl
      %a.btn{:href => "javascript:;", :title => "Download the opened call"} Download Record
#js_pagination_div.qc-pageniation.hide-it
  #js_total_pages.qc-pageniation-total-page
  .clr
  .qc-pageniation-list
    %a#js_pagination_first.first-page{:href => "javascript:;"}
    %a#js_pagination_prev.pre-page{:href => "javascript:;"}
    %span#js_pages_list
    %a#js_pagination_next.nxt-page{:href => "javascript:;"}
    %a#js_pagination_last.last-page{:href => "javascript:;"}
.users.fl
  .personal-users
    != JST['calls/calls_table'](columns_names: @columns_names)
#js_video_preview