= form_for @questions_section do |f|
  - if @questions_section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@questions_section.errors.count, "error")} prohibited this questions_section from being saved:"
      %ul
        - @questions_section.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :template
    = f.text_field :template
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :rank
    = f.number_field :rank
  .actions
    = f.submit 'Save'
