%h1 Listing questions_sections

%table
  %tr
    %th Template
    %th Title
    %th Rank
    %th
    %th
    %th

  - @questions_sections.each do |questions_section|
    %tr
      %td= questions_section.template
      %td= questions_section.title
      %td= questions_section.rank
      %td= link_to 'Show', questions_section
      %td= link_to 'Edit', edit_questions_section_path(questions_section)
      %td= link_to 'Destroy', questions_section, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Questions section', new_questions_section_path
