%p#notice= notice

%p
  %b Template:
  = @questions_section.template
%p
  %b Title:
  = @questions_section.title
%p
  %b Rank:
  = @questions_section.rank

= link_to 'Edit', edit_questions_section_path(@questions_section)
\|
= link_to 'Back', questions_sections_path
