= form_for @call_note do |f|
  - if @call_note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@call_note.errors.count, "error")} prohibited this call_note from being saved:"
      %ul
        - @call_note.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :call_id
    = f.text_field :call_id
  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :note
    = f.text_field :note
  .actions
    = f.submit 'Save'
