%h1 Listing call_notes

%table
  %tr
    %th Call
    %th User
    %th Note
    %th
    %th
    %th

  - @call_notes.each do |call_note|
    %tr
      %td= call_note.call_id
      %td= call_note.user_id
      %td= call_note.note
      %td= link_to 'Show', call_note
      %td= link_to 'Edit', edit_call_note_path(call_note)
      %td= link_to 'Destroy', call_note, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Call note', new_call_note_path
