.available-users-group select{
/*height:268px;*/
}

.hide-it{
  display:none;
}

.dragtable-sortable{
  display:none;
}

/*override*/
.content-change{
  line-height:0px !important;
}
.modal-footer{
  background: none repeat scroll 0 0 #F7F7F7;
  border-top: 1px solid #DEDDDD;
  min-height: 50px;
}
.no-padding-popup{
  padding: 0 0 0;
}
.modal-content{
  margin-left: 65px
}
.three_buttons{
  cursor: pointer;
}

/*************** Layout ********************/
.left-panel{
  width:205px !important;
}
.settings-side_button{
  border-top: 1px solid #d9d9d9;
}
/*************** End Layout ********************/

/*************** Side Buttons ********************/
.admin-icon.active { background:url(../images/left-pan-icon-hover.png) no-repeat; background-position: 20px -207px; }

.report-icon.active { background:url(../images/left-pan-icon-hover.png) no-repeat; background-position: 20px -165px; }

.seting-icon.active { background:url(../images/left-pan-icon-hover.png) no-repeat; background-position: 20px -124px; }

.srch-icon.active { background:url(../images/left-pan-icon-hover.png) no-repeat; background-position: 20px -78px; }

.org-icon.active { background:url(../images/left-pan-icon-hover.png) no-repeat; background-position: 20px -31px; }

.dashbord-icon.active { background:url(../images/left-pan-icon-hover.png) no-repeat; background-position: 19px 10px; }
/*************** End Side Buttons ****************/

/*************** User Tables ********************/
table.users-table tr th.drop_nosort{  
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  /*padding: 0 5px;*/
  /*border:none !important;*/
  background-color: #F2F2F2 !important;
}
table.users-table tr.table_header{  
  position: fixed;background-color: grey;
} 
table.users-table tr th.drop_nosort_last{
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  /*padding: 0 5px;*/
  /*border:none !important;*/
  background-color:#F2F2F2 !important;
  background-position: 87px 13px;
}

.personal-users table tr td.drop_nosort{  
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  /*padding: 0 5px;*/
  /*border:none !important;*/
  background-color: #F2F2F2 !important;
}

.personal-users table tr td.drop_nosort_last{
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  /*padding: 0 5px;*/
  /*border:none !important;*/
  background-color:#F2F2F2 !important;
  background-position: 87px 13px;
}

.personal-users table tr th{
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color:#323232;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color:#323232;
    background-color:#F2F2F2 !important;
    background-color: #F2F2F2 !important;
  }

.personal-users table tr th.drop{  background: url("../images/drop.jpg") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold; 
/*padding: 0 5px; */
background-color:#F2F2F2 !important; background-color: #F2F2F2 !important;
}
    
.personal-users table tr th.drop_last{  background: url("../images/drop.jpg") no-repeat scroll 0px 10px transparent; font-family: arial; font-size: 11px; font-weight: bold; 
/*padding: 0 5px; */
/*border:none !important; */
background-color:#F2F2F2 !important; background-position: 87px 13px;}
  
table.users-table tr th.drop{  background: url("../images/drop.jpg") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold;
 /*padding: 0 5px; */
 background-color:#F2F2F2 !important; background-color: #F2F2F2 !important;
}
    
table.users-table tr th.drop_last{  background: url("../images/drop.jpg") no-repeat scroll 0px 10px transparent; font-family: arial; font-size: 11px; font-weight: bold; 
/*padding: 0 5px; */
/*border:none !important; */
background-color:#F2F2F2 !important; background-position: 87px 13px;}


table.users-table{width: 100%; float:left;   border-collapse: collapse; }

.main{height:650px;
    overflow-x: hidden;
    overflow-y: scroll; width:100%; float:left}

.drop1{width:754px !important;}
table.users-table tr td{font-size: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; color:#323232;font-family: 'ubunturegular'; color:#323232;}
    
    
table.users-table tr:nth-child(2n) {
    background: none repeat scroll 0 0 #F2F2F2;
}

table.users-table tr td.drop{ background: url("../images/drop.jpg") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold;
 /*padding: 0 5px; */
 background-color:#F2F2F2 !important; background-color: #F2F2F2 !important;
}
    
table.users-table tr td.drop_last{ background: url("../images/drop.jpg") no-repeat scroll 0px 10px transparent; font-family: arial; font-size: 11px; font-weight: bold; 
/*padding: 0 5px; */
/*border:none !important; */
background-color:#F2F2F2 !important; background-position: 87px 13px;}
    
.js-order{
  cursor: pointer;
}

table.users-table tr.valid{
  background: rgb(223, 252, 226) !important;
}

table.users-table tr.invalid{
  background: rgb(252, 223, 223) !important;
}
/*************** End User Tables ********************/

/* Activating Nav bars  */
.nav-new-menu.active{
  color:#857b77;
  background-color:#ffffff;
  border-bottom:none;
  font-weight:bold; 
}
.side_button.active{ 
  display:block;
  background-color:#f15b29;
  color:#FFFFFF;
}
.side_button.active a{ color:#fff;}
.side_button.disabled{ 
  display:block;
  background-color:rgb(209, 201, 199);
  color:rgb(139, 136, 136);
}

/*Action buttons*/
.action_buttons{
  /*width:90px;*/
  height:25px;
  margin-right:6px;
  text-align:center;
  background-color:#f6f6f6;
  border:1px solid #d9d9d9;
  font-size:12px;
  color:#333333;
  font-family: 'ubunturegular';
  font-size:10px;
  font-weight:bold;
}
.action_buttons:hover{
background-color:#FFFFFF;
cursor:pointer;
}

.list-white.belongs-to-group{
  background-color: #CACACA;  
}

.assigned-users-group{
  height: auto !important;
}
.available-users-group{
  height: auto !important;
}
.welcome-right{
  min-width: 245px !important;
  width: auto !important;
}
.change-icons img{
  cursor: pointer;
}

a.addNew {
  margin: 0px 0;
}

.dataTables_wrapper{
  margin-top: 0px;
}
#new_user_modal, #edit_user_modal, #call_modal, #save_result_modal{
  z-index: 1000;
}
div.DTCR_pointer {
    background-color: #0259C4;
    width: 1px;
    z-index: 201;
}

.login-div input[type="password"]{ background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;
    color: #535353;
    font-size: 15px;
    height: 43px;
    margin: 12px 0 0 14px;
    padding: 0 2px;
    width: 296px;
}
.login-div input[type="password"]:focus{
  box-shadow:0 0 3px 0px #f87979;
  border:1px solid #e75e5e; 
}
.login-div{
  position: fixed !important;
}

div .list-white:nth-child(odd){
  background-color:#fcfcfc;
}
/*list-white:nth-child(even){
  width:98%;
  height:34px;
  text-align:left;
  padding-left:10px;
  color:#333333;
  line-height:34px;
  font-size:10px;
  border:1px solid #d9d9d9;
  font-family: 'ubunturegular';
}
.list-white:nth-child(odd){
  width:98%;
  height:34px;
  background-color:#fcfcfc;
  text-align:left;
  padding-left:10px;
  color:#333333;
  line-height:34px;
  font-size:10px;
  border:1px solid #d9d9d9;
  font-family: 'ubunturegular';
}*/


/*************** Search Tabs ********************/
.newTab {
  width: 750px !important;
}
.newTab div.nav-new-menu{
  cursor: pointer;
}

.newTab .nav-new-menu a{
  cursor: text;
}

.newTab .nav-new-menu a.addNew{
  cursor: pointer;
}

div.tab-name{
  margin-top: 0px !important;
}

.pin{
  width: 11px;
  margin-top: 15px !important;
}

.pin.pin-active{
  width: 11px;
  margin-top: 12px !important;
  background:url(../images/pin-active.png) no-repeat right center !important; 
  width:16px !important; height:16px !important;
}
/*************** END Search Tabs ********************/

/*************** Tooltip ********************/
.ui-tooltip-content{
  font-family: arial;
  font-size: 13px;
}

div#help_container div, div#help_container ul{
  font-family: arial;
  font-size: 13px;
  width: 500px;
}

div#help_container.ui-tooltip{
  font-family: arial;
  font-size: 15px;
  width: 500px;
  position: relative;
  max-width: 500px;
  margin-left: 25%;
  margin-right: 25%;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ui-tooltip img{
  margin-right: 5px;
  min-width: 15px;
}

div#errors_container.ui-tooltip{
  font-family: arial;
  font-size: 15px;
  width: 100%;
  position: relative;
  max-width: 500px;
  color: black;
  margin: 0px;
  max-width: 595px;
}

p.errors.ui-tooltip{
  width: 100%;
  position: relative;
  margin: 0px;
  min-width: 100px;
  max-width: 585px;
  color: red;
  margin-top:0px !important;margin-bottom:0px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div#errors_container.ui-tooltip h4, p.errors.ui-tooltip p{
  margin-top:0px !important;margin-bottom:0px !important;
}

/*************** END Tooltip ********************/

/*************** User Pop up ********************/

#user_group_id, #user_supervisor_id{
  width: 102%;
}

.user_form input[type="radio"]{
  margin: 3px;
}
.user_form .field{
  margin:-2px 0 0 6px;
}
.user_user_role_ids{
  font-size: 13px;
}
.videoPopup-new{
  /*width: 660px !important;*/
  /*height: initial !important;*/
}

.popup-bottom {
  /*width: 658px !important;*/
}

#new_user_modal{
  /*width: 730px;*/
}

.user-modal-content{
  /*margin-left: 27px;*/
  /*margin-top: 13px;*/
}

/*************** END User Pop up ********************/

/*************** login-page ********************/
.login-div {
top: 0% !important;
}

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute; width: 1px; height: 1px; 
    left: -9999px;
}
.rem{min-width:300px;}
/*************** END login-page ********************/

/*************** search-page ********************/
.manuSearch {
  height: initial !important;
}
.chzn-container {
  width:100% !important;
}
#below_side_bar input.datepicker{
  text-align: center;
  width: 121px;
}
#ui-datepicker-div {
  font-size: 13px;
  left:15.5px !important;
}
#calls_table tr.with-notes{
  background: rgb(202, 240, 205) !important;
  
  /*background-color: #009900 !important;*/
}
/*************** END search-page ********************/

/*************** User-Info (Welcome, user logout) ********************/

.js-open-profile{
  cursor: pointer;
}

.icon {
width: 26px !important;
height: 24px !important;
margin: 10px 2px 0 0px !important;
}

/*************** END User-Info (Welcome, user logout) ********************/
.personal-users table tr th{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
table.dataTable{
  margin-bottom: 0px !important;
}
.personal-users table tr th.drop{  background: url("../images/drop.jpg") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold;
 /*padding: 0 5px; */
 background-color:#F2F2F2 !important; background-color: #F2F2F2 !important;
}
    
    .personal-users table tr th.drop-up{ background:url("../images/drop--up.png") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold;
     /*padding: 0 5px; */
    /*border:none !important; */
    background-color:#F2F2F2 !important; background-color: #F2F2F2 !important;
}


    .personal-users table tr th.drop-sortable{  background:url("../images/drop-sortable.png") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold; 
    /*padding: 0 5px; */
    /*border:none !important; */
    background-color:#F2F2F2 !important; background-color: #F2F2F2 !important;
}


    .personal-users table tr th.drop-non-sortable{  background:url("../images/drop-non-sortable.png") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold; 
    /*padding: 0 5px; */
    /*border:none !important; */
    background-color:#F2F2F2 !important; background-color: #F2F2F2 !important;
}


/***this maps to (#grid-hdr td) in style.css***/
.personal-users table tr th{
  border-right: 1px solid #d9d9d9; border-bottom:0; line-height: 35px;
}

.nav-new.newTab{width:680px !important;}

.right-panel{
  margin: 0 0 0 205px !important;
}
.black_overlay{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 25000;
  -moz-opacity: 0.6;
  opacity:.80;
  filter: alpha(opacity=80);
}
.columnSelector{
  z-index: 1005
}
.cursor-move{
  cursor: move;
}

.video-container-popup{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.video-popup-container{
  width:640 !important;
}
.popup-z-index{  
  z-index: 20000;
}

.mejs-mediaelement{
  z-index: 10000;
}
.mejs-controls{
  z-index: 10022;
}
.three_buttons:last-child{
  border-right: none;
}
.auto-width-tab-header{
  width: auto !important;
}
.scroll-list{
  border: 1px solid #D9D9D9;
}
.scroll-list .list-white.selected{
  background-color: #3875D7;
  color: white;
}
.inherit-group-access-checkbox{
  float:right;
  margin-right:20px;
  margin-top:10px;
}

.pagination-selected{
  color: #666666;
  cursor: default;
}

.pagination-settings-label{
  margin-right: 23px;
  position:relative;
  top:10px;
  color:#323232;
  font-size:14px;
}

.pagination-settings-dropdown{
  float: right;
  width: 50px;
  margin-right: 12px;
  margin-top: 10px;
}
#load_calls_popup{
  z-index: 25009 !important;
}
.js-load-calls-close{
  padding: 0px;
}

.select-group { 
  margin:15px 0 0 12px;
}

.list-white { 
  border-left: none; 
  border-top: none;
}
.heading {
  padding: 0 21px;
}
.heading a {
  padding: 0;
}
.heading_new {
  padding: 0 5px 0 25px;
}
.agent-ID { 
  margin: 11px 0 11px 17px;
}
.pic-agent { 
  width: 230px;
}
.roles { 
  margin: 15px auto 0 2px;
}
.footer_column_selector { 
  float: none;
}
.footer_column_selector p { 
  line-height: 45px; 
}
.arrow-control-wrappper {
  margin: 6px; 
  height: 15px; 
}
.footer_column_selector button { 
  min-width: 50px; 
}
.group_role_ids { 
  font-size: 14px; 
}
#js_pages_list{
  border-left: 2px solid #666;
  border-right: 2px solid #666;
  padding: 0 3px;
}
#js_pages_list #current{
  padding: 0 10px;
  border: 1px solid #666;
  width: 20px;
  text-align: right;
}
.qc-pageniation-list a.first-page#js_pagination_first{
  width: 16px;
}
.qc-pageniation .qc-pageniation-list a{
  margin-left: 1px;
}
#js_total_pages.qc-pageniation-total-page{
  float: right;
  margin: 10px 1%;
}
.select-list{
  padding: 0px !important;
}
#modal_content .role-scroll_selector{
  width: 390px;
}
.videoLabel{
  font-size: 12px; 
  float:left;
  margin: 3px;
}
.videoLabel span.label{
  border-left: 1px solid #666;
  padding-left: 5px;
  font-weight: bold;
}
.videoLabel:first-child span.label{
  border: none;
}
.select-group { 
  margin:15px 0 0 1%;
}
table.users-table.dataTable   tr:nth-child(1n) { 
  background: #FFFFFF; 
}

table.users-table.dataTable   tr:nth-child(2n) {
  background: #F2F2F2; 
}
.list-white-group{
  height: 25px !important;
  padding-top: 10px !important;
}
