/ %p
/   Hello #{@resource.email}!
/ %p Someone has requested a link to change your password. You can do this through the link below.
/ %p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
/ %p If you didn't request this, please ignore this email.
/ %p Your password won't change until you access the link above and create a new one.

.login-div
  .logo-cloud.fl
    %img{:alt => "logo", :src => "images/qc-logo.png"}/
  .welcome.fl Hello #{@resource.email}!
  .message-mail-cnfirm.fl
    Someone has requested a link to change your password.
    %br/
    You can do this through the link below.
  .text-confirm-email 
    = link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  .message-mail-cnfirm.fl
    If you didn't request this, please ignore this email.
    %br/
    Your password won't change until you access the link 
    %br/
    above and create a new one.
  .clr
  .rem
