#question_form_container
.q-popup-wrapper1
  %h2
    %span.fl= @template.get('title')
    .fr.mr-rt15
      %a{:href => "javascript:;"} Import CSV
      |
      %a{:href => "javascript:;"} Export CSV
      |
      %a#delete_template_btn{:href => "javascript:;"} Delete
      |
      %a{:href => "javascript:;"} Copy
      |
      %a{:href => "javascript:;"} Retire
  .q-grid-wrapper
    .q-grid-wrapper-hdr.bg-none
      .fl.mr-lf15
        Template Enabled?
        %label
          - isChecked = @template.get("enabled") == true
          %input{:disabled => true, type: "radio", checked: isChecked}>/
          YES
        \  
        %label
          %input{:disabled => true, :type => "radio", :checked => !isChecked}>/
          NO
      .fr
        %a#add_question_btn{:href => "javascript:;"} Add Question
        |
        %a#delete_selected_btn{:href => "javascript:;"} Delete Selected
    .q-grid-data
      %table.q-popup-grid-list{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody#questions_table
          
  .template-inventory
    .training-template-bot-lf
      / %div{:class => "training-template-enable-wrapper "}
      /   .training-template-bot-alert
      /     %h4 Define Alert Threshold
      /     %label
      /       %input{:type => "radio"}/
      /       \  Yes
      /     %label
      /       %input{:type => "radio"}/
      /       \  No
      /   .training-template-bot-select
      /     %select
      /       %option Select your template
      / .training-template-bot-input
      /   %input{:placeholder => "Enter Alert Email Address(es), seperate multiple with a comma", :type => "text"}/
    .training-template-bot-btn
      .bottom-button.fr
        %a{:href => "javascript:;"} Cancel
      .bottom-button.fr#save_template_btn
        %a#submit_save_template{:href => "javascript:;"} Apply