= form_for @question_answer do |f|
  - if @question_answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question_answer.errors.count, "error")} prohibited this question_answer from being saved:"
      %ul
        - @question_answer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :template_answer
    = f.text_field :template_answer
  .field
    = f.label :question
    = f.text_field :question
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :answer
    = f.text_field :answer
  .field
    = f.label :weight
    = f.number_field :weight
  .actions
    = f.submit 'Save'
