%h1 Listing question_answers

%table
  %tr
    %th Template answer
    %th Question
    %th User
    %th Answer
    %th Weight
    %th
    %th
    %th

  - @question_answers.each do |question_answer|
    %tr
      %td= question_answer.template_answer
      %td= question_answer.question
      %td= question_answer.user
      %td= question_answer.answer
      %td= question_answer.weight
      %td= link_to 'Show', question_answer
      %td= link_to 'Edit', edit_question_answer_path(question_answer)
      %td= link_to 'Destroy', question_answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question answer', new_question_answer_path
