%p#notice= notice

%p
  %b Template answer:
  = @question_answer.template_answer
%p
  %b Question:
  = @question_answer.question
%p
  %b User:
  = @question_answer.user
%p
  %b Answer:
  = @question_answer.answer
%p
  %b Weight:
  = @question_answer.weight

= link_to 'Edit', edit_question_answer_path(@question_answer)
\|
= link_to 'Back', question_answers_path
