= form_for @template_answer do |f|
  - if @template_answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@template_answer.errors.count, "error")} prohibited this template_answer from being saved:"
      %ul
        - @template_answer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :template
    = f.text_field :template
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :call
    = f.text_field :call
  .field
    = f.label :total_weight
    = f.number_field :total_weight
  .actions
    = f.submit 'Save'
