%h1 Listing template_answers

%table
  %tr
    %th Template
    %th User
    %th Call
    %th Total weight
    %th
    %th
    %th

  - @template_answers.each do |template_answer|
    %tr
      %td= template_answer.template
      %td= template_answer.user
      %td= template_answer.call
      %td= template_answer.total_weight
      %td= link_to 'Show', template_answer
      %td= link_to 'Edit', edit_template_answer_path(template_answer)
      %td= link_to 'Destroy', template_answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Template answer', new_template_answer_path
