%p#notice= notice

%p
  %b Template:
  = @template_answer.template
%p
  %b User:
  = @template_answer.user
%p
  %b Call:
  = @template_answer.call
%p
  %b Total weight:
  = @template_answer.total_weight

= link_to 'Edit', edit_template_answer_path(@template_answer)
\|
= link_to 'Back', template_answers_path
