!!!
%html
  %head
    %title Quality Cloud
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    - if user_signed_in?
      %meta{:content => "#{current_user.id}", :name => "current-user-id"}/

  %body
    = render 'shared/header'
    = render 'shared/user_profile'
    .wrapper
      - if user_signed_in?
        .left-panel.fl
          = render 'shared/sidebar'
        .right-panel.fl
          = yield
      - else
        .span12
          = yield

%script
  $(document).ready(function(){
  QualityCloud.initialize({permissions: eval(#{Permission::permissions_array.to_json.to_s.html_safe})})
  QualityCloud.current_user = new QualityCloud.Models.User(eval(#{current_user.to_json.to_s.html_safe}))
  = yield :onload
  Backbone.history.start()
  $(document).ajaxStart(showOverlay)
  $(document).ajaxStop(hideOverlay)
  });
  var overlay;
  function showOverlay(){
  if(typeof(el)==='undefined') el=$('body');
  overlay = new ajaxLoader(el);
  }
  function hideOverlay(){if(overlay) overlay.remove();}
