!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title User Authentication
    = stylesheet_link_tag    "application", :media => "all"
  %body
    = yield